/* #box {
    border-bottom: 1px solid red;
    border-top: 1px solid white;
    overflow: hidden;
}  */

#guding {
    width: 80px;
    height: 320px;
    position: fixed;
    background: white;
    right: 20px;
    bottom: 100px;
    text-align: center;
    z-index: 999;
}

.erweima {
    position: absolute;
    width: 90px;
    height: 90px;
    right: 90px;
    bottom: 0px;
    padding: 30px;
    background: white;
    display: none;
}

.erweima .erweima1 {
    width: 100%;
    height: 100%;
}

#guding .guding1 {
    width: 80px;
    height: 80px;
    background: url(../images/icon-about-0.png) no-repeat center 14px;
    overflow: hidden;
}

#guding .p2 {
    font-size: 12px;
    margin-top: 54px;
    color: #9b9b9b;
}

#guding .guding1:hover {
    background: url(../images/icon-about-1.png) no-repeat center 14px;
}

#guding .guding1:hover .p2 {
    color: #ffa000;
}

#guding .guding2 {
    width: 80px;
    height: 80px;
    background: url(../images/icon-kefu-0.png) no-repeat center 14px;
    overflow: hidden;
}

#guding .guding2:hover {
    background: url(../images/icon-kefu-1.png) no-repeat center 14px;
}

#guding .guding2:hover .p2 {
    color: #ffa000;
}

#guding .guding3 {
    width: 80px;
    height: 80px;
    background: url(../images/icon-appdl-0.png) no-repeat center 14px;
    overflow: hidden;
}

#guding .guding3:hover {
    background: url(../images/icon-appdl-1.png) no-repeat center 14px;
}

#guding .guding3:hover .erweima {
    display: block;
}

#guding .guding3:hover .p2 {
    color: #ffa000;
}

#guding .guding4 {
    width: 80px;
    height: 80px;
    background: url(../images/icon-totop-0.png) no-repeat center 14px;
    overflow: hidden;
}

#guding .guding4:hover {
    background: url(../images/icon-totop-1.png) no-repeat center 14px;
}

#guding .guding4:hover .p2 {
    color: #ffa000;
}

.clearfix::after {
    content: "";
    clear: both;
    height: 0px;
    display: block;
    overflow: hidden;
    visibility: hidden;
}

#box .content {
    width: 1200px;
    margin: auto;
}

#box1 {
    width: 100%;
    height: 70px;
    overflow: hidden;
}

#box .nav {
    width: 100%;
    height: 70px;
    position: fixed;
    background: white;
    z-index: 999;
}

#box .nav h1 {
    text-indent: -9999px;
    height: 32px;
    width: 72px;
    background: url(../images/logo_1.png);
    margin-top: 18px;
}

.nav .diming {
    display: block;
    margin: 28px 0 0 15px;
    font-size: 11px;
    line-height: 11px;
    float: left;
    color: #ffa000;
}


.nav .nav-ul li {
    float: left;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    padding: 0 30px;
}

.nav .nav-ul li a {
    color: black;
    display: block;
}

.nav .nav-ul li:hover a {
    color: #ffa000;
}

#box .banner {
    background: url(../images/banner.png) center center;
}

.banner .banner-nav {
    width: 240px;
    height: 337px;
    background: #9b9997;
    /* margin-top: 70px; */
    opacity: 0.8;
    padding-top: 13px;
    position: relative;
}

.banner .banner-nav .nav1 {
    width: 240px;
    height: 65px;
    /* background: red; */
}

.banner .banner-nav .nav1:hover {
    background: #919191;
}

.banner .banner-nav .nav1:hover .nav2 {
    display: block;
}

.banner .banner-nav .nav1 .p1 {
    text-align: center;
    height: 65px;
    width: 110px;
    margin-left: 65px;
    line-height: 65px;
    color: white;
    font-size: 18px;
}

.banner .banner-nav .nav2 {
    width: 400px;
    height: 350px;
    background: #919191;
    position: absolute;
    top: 0;
    left: 240px;
}

.nav2 {
    display: none;
}

.nav2 .nav2-ul li {
    padding: 0 30px;
    font-size: 16px;
    line-height: 16px;
    float: left;
    margin-top: 50px;
    border-right: 1px solid white;
}

.nav2 .nav2-ul li a {
    color: white;
}

.nav2 .nav2-ul li a:hover {
    color: #ffa000;
}

.main1 .tubiao {
    width: 200px;
    height: 155px;
    text-align: center;
    float: left;
    /* background: gold; */
}

.main1 .tubiao .main1-img {
    margin-top: 40px;
}

.main1 .tubiao .p3 {
    font-size: 16px;
    color: #333333;
    line-height: 16px;
    margin-top: 20px;
}

.main2 .main2-h2 {
    font-size: 27px;
    line-height: 27px;
    margin-top: 42px;
}

.main2 .main2-span {
    display: inline-block;
    margin: 54px 0 0 20px;
    font-size: 12px;
    color: #333333;
}

.main2 .main2-pg {
    width: 1200px;
    height: 360px;
    /* background: yellowgreen; */
    margin-top: 20px;
}

.main2 .main2-pg .main2-zuo {
    width: 540px;
    height: 360px;
    position: relative;
}

.main2 .main2-pg .main2-zuo .main2-zuoh6 {
    width: 510px;
    height: 80px;
    background: black;
    padding-left: 30px;
    position: absolute;
    bottom: 0;
    line-height: 80px;
    opacity: 0.7;
}

.main2 .main2-pg .main2-zuo .main2-zuoh6 a {
    font-size: 16px;
    color: white;
}

.main2 .main2-pg .main2-zhong {
    width: 262px;
    height: 360px;
    margin: 0 10px;
    /* background: red; */
    position: relative;
}

.main2 .main2-pg .main2-zhong img {
    width: 262px;
    height: 175px;
}

.main2 .main2-pg .main2-zhong h3 {
    width: 232px;
    height: 60px;
    padding-left: 20px;
    padding-right: 10px;
    line-height: 60px;
    position: absolute;
    background: black;
    opacity: 0.7;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main2 .main2-pg .main2-zhong h3 a {
    color: white;
    font-size: 15px;
}

.main2 .main2-pg .main2-zhong .main2-zhongh1 {
    top: 115px;
}

.main2 .main2-pg .main2-zhong .main2-zhongh2 {
    bottom: 0px;
}

.main2 .main2-you {
    width: 378px;
    height: 360px;
}

.main3 .main3-ul li {
    height: 74px;
    line-height: 74px;
    float: left;
}

.main3 .main3-ul li a {
    display: inline-block;
    font-size: 12px;
    color: black;
    padding-right: 26px;
}

.main3 .main3-ul li:nth-child(n+2)::before {
    content: "·";
    margin-right: 26px;
}

.main3 .main3-ul li a:hover {
    color: #ffa000;
}

.main3 .main3-more {
    font-size: 12px;
    line-height: 12px;
    margin-top: 41px;

}

.main3 .main3-more a {
    color: #9b9b9b;
}

.main3-list .main3-list1 {
    width: 570px;
    margin-bottom: 30px;
    height: 160px;
    /* background: gold; */
    float: left;
}

.main3-list .main3-list1:nth-child(2n+1) {
    margin-right: 60px;
}

.main3-list .main3-list1 .list1-left {
    width: 240px;
    height: 160px;
}

.main3-list .main3-list1 .list1-left img {
    width: 240px;
    height: 160px;
}

.main3-list .main3-list1 .list1-right {
    width: 300px;
    height: 160px;
    /* background: red; */
}

.main3 .main3-h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
}

.main3 .list1-right .main3-span1 {
    font-size: 12px;
    line-height: 12px;
    margin-top: 8px;
    color: #c8c8c8;
}

.main3 .list1-right .p4 {
    font-size: 12px;
    line-height: 24px;
    margin-top: 26px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#box .main4 {
    background: #f8f8f8;
}

.main4 .main4-h2 {
    font-size: 27px;
    line-height: 27px;
    margin-top: 42px;
}

.main4 .main4-span {
    display: inline-block;
    margin: 54px 0 0 20px;
    font-size: 12px;
    color: #333333;
}

.main4 .main4-banner {
    width: 100%;
    height: 180px;
    margin-top: 21px;
    background: url(../images/bg-help.png);
    /* overflow: hidden; */
    position: relative;
}

.main4 .main4-h3 {
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    margin: 0 0 0 250px;
    padding-top: 52px;
}

.main4 .p5 {
    font-size: 16px;
    line-height: 16px;
    margin: 30px 0 0 250px;
    color: #333333;
}

.main4 .main4-h4 {
    width: 178px;
    height: 58px;
    background: #ffa000;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    border: 1px solid #ffa000;
    border-radius: 30px;
    color: white;
    position: absolute;
    top: 50px;
    right: 150px;
}

.main4 .main4-h4:hover .yincang {
    display: block;
}

.main4 .yincang {
    width: 156px;
    height: 198px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: -240px;
    background: white;
    border: 1px solid white;
    border-radius: 6px;
    display: none;
}

.main4 .yincang img {
    width: 140px;
    height: 140px;
    margin-top: 10px;
}

.p6 {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    margin-top: 13px;
}

.main4 .main4-list {
    margin-top: 30px;
}

.main4 .main4-list .main4-list1 {
    width: 270px;
    height: 335px;
    /* background: red; */
    float: left;
    margin: 0 40px 40px 0;
    background: white;
}

.main4 .main4-list .main4-list1 .list1-top {
    width: 270px;
    height: 180px;
    position: relative;
}

.main4 .main4-list .main4-list1 .list1-top .main4-h5 {
    font-size: 15px;
    line-height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.main4 .main4-list .main4-list1 .list1-bottom {
    width: 230px;
    height: 155px;
    margin-left: 20px;
    /* background: red; */
}

.main4 .main4-list .main4-list1 .list1-bottom .main4-title {
    width: 100%;
    height: 54px;
    border-bottom: 1px dashed #e8e8e8;
    font-size: 0px;
}

.main4-title .main4-span1 {
    display: inline-block;
    font-size: 12px;
    width: 64px;
    height: 24px;
    border: 1px solid #fdf2e9;
    background: #fdf2e9;
    line-height: 24px;
    margin-right: 16px;
    margin-top: 14px;
    border-radius: 10px;
    text-align: center;
    color: #333333;
}

.main4 .main4-ul li {
    font-size: 12px;
    line-height: 28px;
}

.main4 .main4-ul li a {
    color: #333333;
}

.main5 .main5-h2 {
    font-size: 27px;
    line-height: 27px;
    margin-top: 42px;
}

.main5 .main5-span {
    display: inline-block;
    margin: 54px 0 0 20px;
    font-size: 12px;
    color: #333333;
}

.main5 .main5-banner {
    margin-top: 21px;
    width: 100%;
    height: 350px;
    background: url(../images/bg-counsoler.png);
    overflow: hidden;
}

.main5 .main5-banner .main5-nav {
    width: 365px;
    height: 290px;
    background: #06131b;
    /* opacity: 0.9; */
    margin: 30px 0 0 30px;
    overflow: hidden;
    text-align: center;
}

.main5-nav .main5-h4 {
    font-size: 19px;
    color: white;
    margin-top: 29px;
    line-height: 19px;
}

.main5-nav .main5-h4::before {
    content: "-----------  "
}

.main5-nav .main5-h4::after {
    content: " -----------"
}

.main5-nav .main5-ul li {
    width: 88px;
    height: 34px;
    background: white;
    text-align: center;
    line-height: 36px;
    float: left;
    border: 1px solid white;
    border-radius: 4px;
    margin: 0 10px 10px 0;
}

.main5-nav .main5-ul li a {
    color: #333333;
    font-size: 12px;
    display: block;
    width: 88px;
    height: 34px;
}

.main5-nav .main5-ul li:hover {
    background: #ffa000;
    border: 1px solid #ffa000;
}

.main5-nav .main5-ul li:hover a {
    color: white;
}

.main5 .main5-cont {
    width: 100%;
    height: 84px;
    overflow: hidden;
}

.main5 .main5-ul1 li {
    height: 74px;
    line-height: 74px;
    float: left;
}

.main5 .main5-ul1 li a {
    display: inline-block;
    font-size: 12px;
    color: black;
    padding-right: 26px;
}

.main5 .main5-ul1 li:nth-child(n+2)::before {
    content: "·";
    margin-right: 26px;
}

.main5 .main5-ul1 li a:hover {
    color: #ffa000;
}

.main5 .main5-more {
    font-size: 12px;
    line-height: 12px;
    margin-top: 41px;

}

.main5 .main5-more a {
    color: #9b9b9b;
}


.main5 .main5-list {
    width: 100%;
    height: 274px;
    /* background: gold; */
}

.main5 .main5-list .list5 {
    width: 224px;
    height: 274px;
    float: left;
    /* background: #e5e5e5; */
    margin-right: 20px;
    position: relative;
}

.list5 .list5-h6 {
    font-size: 16px;
    color: white;
    position: absolute;
    line-height: 16px;
    bottom: 22px;
    width: 224px;
    text-align: center;
}

.main5 .qwer {
    width: 164px;
    height: 274px;
    background: #ffa000;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 0 30px;
}

.main5 .main5-list .list5:hover .qwer {
    display: block;
}

.main5-list .qwerh5 {
    font-size: 16px;
    line-height: 16px;
    margin-top: 32px;
    color: white;
}

.p7 {
    font-size: 12px;
    line-height: 12px;
    color: white;
    margin-top: 21px;
}

.main5 .main5-banner1 {
    width: 100%;
    height: 180px;
    background: url(../images/banner3.png);
    margin: 30px 0;
    position: relative;
    overflow: hidden;
}

.banner1-h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
    margin: 47px 0 0 251px;
}

.banner1-h3 {
    font-size: 23px;
    line-height: 23px;
    margin: 30px 0 0 251px;
}

.banner1-span {
    display: inline-block;
    width: 178px;
    height: 58px;
    border: 1px solid #ffa000;
    background: #ffa000;
    font-size: 17px;
    line-height: 58px;
    text-align: center;
    color: white;
    border-radius: 25px;
    position: absolute;
    bottom: 75px;
    right: 158px;
}

.p8 {
    font-size: 14px;
    margin-left: 854px;
    line-height: 14px;
}

#box .main6 {
    background: #f8f8f8;
}

.main6-title1 {
    height: 38px;
    width: 100%;
    /* background: gold; */
    margin-top: 50px;
}

.main6-h2 {
    font-size: 17px;
    line-height: 17px;
}

.main6-span {
    font-size: 12px;
    color: #9b9b9b;
    line-height: 18px;
}

.main6-list {
    width: 100%;
    height: 120px;
    /* background: red; */
}

.main6-list .main6-list1 {
    width: 270px;
    height: 120px;
    background: url(../images/bg-report-1.png);
    float: left;
    margin-right: 30px;
    padding-right: 110px;
}

.p9 {
    font-size: 18px;
    line-height: 32px;
    margin: 18px 0 0 36px;
    color: #333333;
}

.main6-title2 {
    font-size: 17px;
    line-height: 17px;
    margin-top: 40px;
}

.main6-list2 {
    width: 100%;
    height: 143px;
    /* background: greenyellow; */
    margin-top: 21px;
}

.main6-list2 .main6-list3 {
    width: 148px;
    height: 68px;
    border: 1px solid #ededed;
    float: left;
    margin-right: 24px;
}

#box .footer {
    background: #1b1b1b;
}

.footer .footer-top {
    width: 100%;
    height: 192px;
    /* background: red; */
    border-bottom: 1px solid #333333;
    font-size: 0px;
}

.footer-span {
    font-size: 15px;
    display: inline-block;
    width: 100px;
    height: 38px;
    background: #494949;
    line-height: 38px;
    text-align: center;
    margin-top: 60px;
}

.footer-span a {
    color: #a4a4a4;
    display: block;
    width: 100px;
    height: 38px;
}

.footer-topul {
    margin-top: 20px;
}

.footer-topul li {
    font-size: 12px;
    line-height: 12px;
    float: left;
    margin-right: 34px;
}

.footer-topul li a {
    color: #5b5b5b;
}



.footer .footer-center {
    width: 100%;
    height: 270px;
    /* background: green; */
    border-bottom: 1px solid #333333;
}

.footer-center dl {
    width: 160px;
    height: 270px;
    /* background: yellow; */
    overflow: hidden;
    float: left;
}

.footer-center dl dt {
    font-style: 13px;
    line-height: 13px;
    margin-top: 60px;
    color: #e8e8e8;
}

.footer-center dl dd {
    font-size: 12px;
    line-height: 28px;
}

.footer-center dl dd a {
    color: #c8c8c8;
}

#lianxi {
    width: 300px;
    height: 150px;
    /* background: red; */
    float: left;
    margin-left: 93px;
    margin-top: 60px;
    font-size: 0px;
}

#lianxi .lianxi-h2 {
    font-size: 17px;
    line-height: 17px;
    color: #e8e8e8;
}

#lianxi .dianhua {
    font-size: 20px;
    line-height: 20px;
    margin-top: 26px;
    color: white;
}

#lianxi .lianxi-span {
    display: inline-block;
    width: 140px;
    height: 40px;
    border: 1px solid #666666;
    background: #444444;
    line-height: 40px;
    text-align: center;
    margin-top: 45px;
    position: relative;
}

#lianxi .lianxi-span a {
    color: white;
    display: block;
    width: 140px;
    height: 40px;
    font-size: 16px;
}

#lianxi .xiazai {
    width: 158px;
    height: 158px;
    padding: 10px;
    background: white;
    position: absolute;
    border: 1px solid white;
    border-radius: 10px;
    left: -20px;
    top: -200px;
    display: none;
}

#lianxi .lianxi-span:hover .xiazai {
    display: block;
}

#lianxi .xiazai img {
    width: 160px;
    height: 160px;
}

.footer .footer-bottom {
    width: 100%;
    height: 162px;
    /* background: blue; */
    position: relative;
    text-align: center;
    overflow: hidden;
}

.p10 {
    font-size: 12px;
    line-height: 20px;
    margin-top: 62px;
    color: #333333;
}

.guanwang {
    position: absolute;
    top: 58px;
    left: 230px;
}