html,
body {
  height: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
}

#box {
  display: flex;
  flex-direction: column;
}

#box header {
  height: 281px;
  display: flex;
  flex-direction: column;
}

#box header .logo {
  flex: 4;
  background: url(../images/01.png) no-repeat center center;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
}

#box header .nav {
  flex: 1;
  box-sizing: border-box;
  border-bottom: 2px solid #e1e1e1;
  display: flex;
  justify-content: space-around;
}

#box header .nav ul {
  height: 100%;
}

#box header .nav ul li {
  float: left;
  height: 100%;
}

#box header .nav ul li a {
  display: block;
  height: 56px;
  padding: 0 23px;
  line-height: 56px;
  font-size: 12px;
  color: #505050;
  border-bottom: 2px solid #e1e1e1;
}

#box header .nav ul li a:hover {
  border-bottom: 2px solid #e67e22;
}

#box header .nav ul span {
  display: none;
}

#box main {
  flex: 1;
  display: flex;
  justify-content: center;
  background: #ebebeb;
  box-sizing: border-box;
  padding: 35px 0;
}

#box main .left {
  width: 50%;
  background: #ebebeb;
  margin-right: 30px;
}

#box main .left .list1 {
  width: 100%;
  box-sizing: border-box;
  background: white;
  padding: 35px;
  margin-bottom: 35px;
}

#box main .left .list1 h2 {
  text-align: center;
  font-size: 34px;
  line-height: 34px;
}

#box main .left .list1 p {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #959595;
  margin-top: 20px;
}

#box main .left .list1 p b {
  color: #e67e22;
}

#box main .left .list1 span {
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  margin-top: 38px;
  color: #444443;
}

#box main .left .list1 a {
  display: block;
  height: 36px;
  width: 86px;
  border-radius: 1px;
  background: #e67e22;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 36px;
  margin: 30px 0;
}

#box main .left .list1 img {
  margin-top: 26px;
}

#box main .left .list1 .bg {
  height: 304px;
  margin-top: 36px;
  background: url(../images/03.png);
  background-size: 100%;
}

#box main .left .list1 .bg1 {
  height: 304px;
  margin-top: 36px;
  background: url(../images/02.png);
  background-size: 100%;
}

#box main .right {
  width: 25%;
  background: #ebebeb;
}

#box main .right .list2 {
  box-sizing: border-box;
  background: white;
  margin-bottom: 35px;
  padding: 23px 30px;
  font-size: 0;
}

#box main .right .list2 h3 {
  font-size: 19px;
  line-height: 19px;
  margin-bottom: 9px;
}

#box main .right .list2 div {
  height: 1px;
  display: inline-block;
}

#box main .right .list2 .xhx1 {
  width: 30%;
  background: #e67e22;
}

#box main .right .list2 .xhx2 {
  width: 70%;
  background: #ebebeb;
}

#box main .right .list2 span {
  display: block;
  font-size: 12px;
  line-height: 12px;
  margin-top: 27px;
  color: #505050;
}

#box main .right .list2 p {
  font-size: 12px;
  color: #e87e22;
  line-height: 12px;
  margin-top: 20px;
}

#box main .right .list2 p::before {
  content: url(../images/05.png);
  margin-right: 2px;
}

#box main .right .list2 .xz {
  display: block;
  width: 100%;
  height: 36px;
  background: #e67e22;
  font-size: 12px;
  line-height: 36px;
  text-align: center;
  color: white;
  margin-top: 21px;
  border-radius: 1px;
}

#box main .right .list2 ul {
  margin-top: 21px;
}

#box main .right .list2 ul li {
  font-size: 13px;
  height: 25px;
  padding: 0 7px;
  border: 1px solid #ebebeb;
  float: left;
  margin: 0 11px 7px 0;
  line-height: 25px;
}

#box main .right .list2 ul li a {
  color: #959595;
  display: block;
  height: 25px;
  width: 100%;
}

#box footer {
  background: #202020;
  display: flex;
  flex-direction: column;
}

#box footer .content {
  background: #202020;
  flex: 5;
  display: flex;
  justify-content: center;
}

#box footer .content .end-1 {
  width: 20%;
  margin-right: 90px;
  font-size: 0;
}

#box footer .content .end-1 h3 {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 8px;
  margin-top: 35px;
  color: white;
}

#box footer .content .end-1 .xhx1 {
  width: 30%;
  background: #e67e22;
  height: 1px;
  display: inline-block;
}

#box footer .content .end-1 .xhx2 {
  width: 70%;
  background: #ebebeb;
  height: 1px;
  display: inline-block;
}

#box footer .content .end-1 ul {
  margin-top: 21px;
}

#box footer .content .end-1 ul li {
  font-size: 13px;
  height: 25px;
  padding: 0 7px;
  border: 1px solid #303030;
  float: left;
  margin: 0 11px 7px 0;
  line-height: 25px;
}

#box footer .content .end-1 ul li a {
  color: #959595;
  display: block;
  height: 25px;
  width: 100%;
}

#box footer .content .end-1 .end-list {
  padding: 15px 0;
  border-bottom: 1px dashed #303030;
}

#box footer .content .end-1 .end-list p {
  font-size: 14px;
  line-height: 24px;
  color: #959595;
  margin-top: 5px;
}

#box footer .content .end-1 .end-list span {
  display: inline-block;
  font-size: 12px;
  color: #505050;
  line-height: 12px;
  margin-top: 5px;
}

#box footer .end {
  background: #111111;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  text-align: center;
}

#box footer .end p {
  font-size: 12px;
  color: #555555;
}

@media all and (min-width: 0px) and (max-width: 750px) {
  #box header .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #box header .nav ul li {
    display: none;
  }

  #box header .nav ul span {
    display: inline-block;
    font-size: 30px;
  }

  #box main {
    flex-direction: column;
    align-items: center;
  }

  #box main .left {
    width: 95%;
    margin-right: 0px;
  }

  #box main .right {
    width: 95%;
  }

  #box footer .content {
    flex-direction: column;
    align-items: center;
  }

  #box footer .content .end-1 {
    width: 80%;
    margin: 0 !important;
  }
}