@charset "UTF-8";
html,
body {
  height: 100%;
  box-sizing: border-box;
}

#box {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#box header {
  height: 44px;
  width: 100%;
  background: white;
  display: flex;
  padding-left: 14px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

#box header div {
  height: 16px;
  flex: 1;
}

#box header div i {
  font-size: 16px;
  line-height: 16px;
}

#box header div:nth-child(2) {
  flex: 8;
  background: url(../images/logo.png) no-repeat center center;
  background-size: contain;
}

#box main {
  flex: 1;
  background: #f4f4f4;
}

#box main .banner {
  height: 210px;
  margin-top: 44px;
}

#box main .banner img {
  width: 100%;
  height: 100%;
}

#box main .main1 {
  height: 75px;
  background: white;
  margin-bottom: 10px;
}

#box main .main1 ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#box main .main1 ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#box main .main1 ul li img {
  width: 40px;
  height: 40px;
}

#box main .main1 ul li span {
  font-size: 8px;
  line-height: 8px;
  margin-top: 9px;
}

#box main .main2 {
  height: 65px;
  width: 100%;
  background: url(../images/bg.png) no-repeat center center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

#box main .main2 .main2-list a {
  width: 26px;
  height: 13px;
  border: 1px solid #c9bea0;
  color: #c9bea0;
  font-size: 8px;
  line-height: 13px;
}

#box main .main2 .main2-list span {
  font-size: 10px;
  line-height: 13px;
}

#box main .banner1 {
  height: 170px;
  text-align: center;
}

#box main .banner1 img {
  width: 94%;
  height: 100%;
}

#box main .list1 {
  height: 155px;
  background: white;
}

#box main .list1 ul {
  display: flex;
  height: 100%;
  overflow: auto;
}

#box main .list1 ul li {
  width: 100px;
  height: 100%;
  margin-right: 8px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#box main .list1 ul li img {
  height: 100px;
  width: 100px;
}

#box main .list1 ul li span {
  text-align: center;
  font-size: 8px;
  line-height: 11px;
}

#box main .list1 ul li b {
  font-size: 9px;
}

#box main .banner2 {
  height: 170px;
  text-align: center;
}

#box main .banner2 img {
  width: 94%;
  height: 100%;
}

#box main .list2 {
  background: white;
  overflow: hidden;
}

#box main .list2 h2 {
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 29px;
  text-align: center;
  margin-top: 20px;
}

#box main .list2 p {
  font-size: 8px;
  line-height: 8px;
  margin-top: 5px;
  text-align: center;
}

#box main .list2 ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 29px;
}

#box main .list2 ul li {
  width: 160px;
  height: 222px;
  margin-left: 20px;
  flex-shrink: 0;
  margin-bottom: 15px;
  border: 1px solid #f5f5f5;
  padding: 0 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#box main .list2 ul li img {
  width: 124px;
  height: 124px;
}

#box main .list2 ul li p {
  font-size: 10px;
  line-height: 14px;
  margin-top: 24px;
}

#box main .list2 ul li span {
  font-size: 11px;
  line-height: 11px;
  margin-top: 8px;
  color: #fe4b75;
}

#box main .list2 ul li span::after {
  content: '美国';
  font-size: 10px;
  line-height: 11px;
  margin-left: 69px;
  color: #959595;
}

#box footer {
  height: 65px;
}

#box footer ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#box footer ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#box footer ul li img {
  width: 26px;
  height: 26px;
}

#box footer ul li .footer-2 {
  display: none;
}

#box footer ul li span {
  font-size: 12px;
  line-height: 12px;
  margin-top: 8px;
  color: #c4c4c4;
}

#box footer ul li:hover .footer-1 {
  display: none;
}

#box footer ul li:hover .footer-2 {
  display: block;
}

#box footer ul li:hover span {
  color: black;
}
